.pizza-cards {
   background-color: grey;
   width: 30%;
}

.pizza-cards .pizza-content {
   padding: 0px 20px 20px 20px;
}

.pizza-wrapper {
   background-color: grey;
   padding: 20px;
}

.pizza-wrapper .pizza-wrapper-image {
   width: 100%;
}

.menu-wrapper {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
   list-style: none;
}